.fonctionnement {
    @include desktop-only {
        max-width: 1000px;
        margin: 0 auto;
        padding-bottom: 20px;
    }    
    &__title {
        @include desktop-only {
            text-align: center;
            padding: 30px 20px;
        }
        padding: 30px 20px 0;
    }
    &__p {
        text-align: center;
        display: inline-block;
    }
}
.btn {
    display: block;
    text-align : inherit;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
    @include btn;
    i {
        color : gray;
        padding : 0 20px 0 35px;
    }
    &:hover {
        i {
            color : $primary-color;
        }
        background: pastel($primary-color);
        box-shadow : map-get($shadow, hover-btn);
    }
    @include desktop-only {
        text-align: center;
        margin: 0px auto 40px;
    }
    @include small-phones {
        display: flex;
        &:hover {
            font-size: 1.2em;
        }
        i {
            padding: 0 13px;
            font-size: 1.5em;
            line-height: 20px;
        }
    }
}
.number {
    background-color: $primary-color;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    position: absolute;
    left: -10px;
    top: 12px;
}