h1 {
    font-family: 'shrikhand', arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
.localisation {
    @include desktop-only {
        max-width : 1110px;
        margin: 0 auto;
        border-radius: 20px 20px 0 0;
    }
    background-color: darken($background-color, 5%);
    text-align: center;
    padding: 15px 0;
    @include background-shadow();
    .fa-solid {
        padding-left: 60px;
        padding-right: 20px;
    }
    input {
        border: none;
        background: transparent;
        &::placeholder {
            // text-align: center;
            color: #000;
        }
        &:focus {
            outline: none;
        }
    }
}
.slogan {
    @include desktop-only {
        max-width : 1110px;
        margin: 0 auto;
    }
    background-color: $background-color;
    text-align: center;
    padding: 30px;
    display: grid;
    gap: 30px;
    &__title {
        margin: 0;
        font-size: 1.5em;
        font-weight: bold;
    }
    &__text {
        font-weight: 100;
    }
}
