.header {
    max-width: 1110px;
    margin: 0 auto;
    &__arrow {
        display: inline;
        position: absolute;
        left: 25px;
        top: 20px;
        font-size: 25px;
    }
    &__title {
        position: relative;
        &__img {
            display: block;
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
        &__flex {
            display: flex;
            justify-content: space-around;
            background: #f6f6f6;
            border-radius: 30px 30px 0 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            @include desktop-only {
                justify-content: space-between;
            }
            @include small-phones {    
                flex-direction: column;
                text-align: center;
            }
        }
        &__flex__title {
            font-family: 'shrikhand', arial, sans-serif;
            font-size: 1.7em;
            font-weight: 100;
            margin: 0;
            padding: 20px 0;
            @include small-phones {
                padding-bottom: 0;
            }
            @include desktop-only {
                padding: 20px 30px;
            }
        }
        label {
            height: 50px;
        }
        &__flex__heart {
            font-size: 30px;
            position: absolute;
            right: 25px;
            top : 20px;
            @include small-phones {
                position: absolute;
                right: 45%;
                top: 60px;
            }
        }
        &__flex__full-heart {
            cursor: pointer;
            position: absolute;
            font-size: 32px;
            right: 25px;
            top: 20px;
            @include small-phones {
                font-size: 32px;
                top: 60px;
                right: 45%;
            }
        }
    }
}

.card {
    @include small-phones {
        padding: 10px 20px;
    }
    background: #f6f6f6;
    padding: 10px 30px;
    max-width: 1110px;
    margin: 0 auto;
    &__title {
        text-transform: uppercase;
        font-weight: 100;
        border-bottom: 4px $tertiary-color solid;
        width: 45px;
        margin-bottom: 15px;
        padding-bottom: 5px;
    }
    @for $i from 1 through 3 {
        &__title#{$i} {
            animation : animation-titres 1s ease-in-out ($i)-1s backwards;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        background: #fff;
        border-radius: 15px;
        box-shadow: map-get($shadow, card);
        margin-bottom: 20px;
        min-height: 80px;
        overflow: hidden;
        @include small-phones {
            min-height: 100px;
        }
        cursor: pointer;
        position: relative;
        &:hover {
            box-shadow: map-get($shadow, hover-card);
            //animation validation et reduit le texte si besoin
            .card__menu__content__description {
                font-weight: 100;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .card__menu__valid {
                width: 100px;
                right: 0;
                & i {
                    animation: rotate 300ms linear 200ms;
                }
            }
        }
        &__content {
            padding: 10px;
            min-width: 0%;
            width: 100%;
            &__descriptionNprice {
                display: flex;
                justify-content: space-between;
                align-items: end;
                padding-top: 10px;
            }
            &__title {
                font-weight: 400;
                padding-bottom: 5px;
            }
            &__description {
                font-weight: 100;
            }
        }
        &__price {
            font-weight: 400;
            padding-left : 20px;
        }
        &__valid {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100px;
            width: 0;
            border-radius: 0 15px 15px 0;
            background: $tertiary-color;
            // transform: scaleX(0);
            // transform-origin: right;
            // transition: transform 400ms linear;
            position: relative;
            right: -16px;
            transition: position 200ms linear;
            transition: width 400ms linear;
            i {
                background: $tertiary-color;
                color: #fff;
                font-size: 1.5em;
            }
        }
    }
    @for $i from 1 through 3 {
        &__menu#{$i} {
            animation : opacity-menus 2s ease-in-out ($i)-1s backwards;
        }
    }
    button {
        animation : opacity-menus 2s ease-in-out 2500ms backwards;
    }
}
