.restaurants {
    @include desktop-only {
        max-width: 1110px;
        margin: 0 auto;
    }
    &__title {
        width: 100%;
        padding: 30px 0 0 20px;
        @include desktop-only {
            text-align: center;
            padding: 50px 0;
        }
    }
    &__grid {
        margin: 20px auto;
        height: auto;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 90%);
        justify-content: space-evenly;
        grid-gap: 20px;
        @include desktop-only {
            grid-template-columns: repeat(2, 45%);
        }
    }
    &__card {
        border-radius: 20px;
        box-shadow: map-get($shadow, card);
        &--new{
            position: relative;
            span {
                position: absolute;
                right: 15px;
                top: 15px;
                color: darken($tertiary-color, 40%);
                background-color: $tertiary-color;
                padding: 5px 10px;
                border-radius: 5px;
                box-shadow: map-get($shadow, card);
            }
        }
        &__img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
        &__content {
            padding: 10px;
            position: relative;
            & i {
                cursor: pointer;
                // padding: 10px 20px;
                font-size: 27px;
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
        &__title {
            margin-bottom: 10px;
        }
        &__text {
            font-weight: 100;
        }
    }
    background: $background-color;
    padding-bottom: 20px;
    box-shadow: map-get($shadow, card);
}

// Heart Animation

input[type="radio"], input[type="checkbox"] {
    appearance: none;
    display: none
} 
.full-heart {
    opacity: 0;
}
#heart1:checked + label,
#heart2:checked + label,
#heart3:checked + label,
#heart4:checked + label {
    .full-heart {
        opacity: 1;
        transform: scale(1.1);
        background: linear-gradient(28deg, $secondary-color 10%, $primary-color 100%);
        background-clip: text;
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        animation: fillNscale 600ms ease-out 1;
        transform-origin: 50% 100%;
    }
}
